################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/AIN
/.gitignore
/AIN.pyproj
/AIN.sln
